{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Trip Details | Koodaram{% endblock %}
{% block meta_description %}Koodaram Trip Details page.{% endblock %}
{% block page_header_style %}
<style>
    .page-header {
        {% if activity.image %}
        background-image: url('{{ activity.image.url }}');
        {% else %}
        background-image: url('{% static "images/new/adventure.webp" %}');
        {% endif %}
    }
</style>
{% endblock %}
{% block content %} 


    <!-- Page Header Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">{{activity.title}}</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'activity_list' %}">activities</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{activity.title}}</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Section End -->

    {% comment %} <!-- Page Trip Single Start -->
    <div class="page-trip-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Page Single Sidebar Start -->
                    <div class="page-single-sidebar">
                        <!-- Page Category List Start -->
                        <div class="page-category-list trip-category-list wow fadeInUp">
                            <h3>Trip Information</h3>
                            <div class="trip-category-body">
                                <ul>
                                    <li><span>Duration</span>4 Days 3 Night</li>
                                    <li><span>Min Age</span>10 Years+</li>
                                    <li><span>Tour Type</span>Adventure, Foodie</li>
                                    <li><span>Location</span>Munnar, Kerala</li>
                                </ul>
                                <a href="{% url 'contact' %}" class="btn-default">Book a Trip</a>
                            </div>
                        </div>
                        <!-- Page Category List End -->

                        <!-- Sidebar CTA Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="{% static 'images/icon-sidebar-cta.svg' %}" alt="">
                            </div>
                            <!-- Icon Box End -->

                            <!-- Sidebar CTA Content Start -->
                            <div class="sidebar-cta-content">
                                <h3>Let's plan your perfect nature escape</h3>
                            </div>
                            <!-- Sidebar CTA Content End -->

                            <!-- Sidebar CTA Contact List Start -->
                            <div class="sidebar-cta-contact-list">
                                <ul>
                                    <li><a href="tel:+919995497856"><img src="{% static 'images/icon-phone-white.svg' %}" alt=""> +91 99954 97856</a></li>
                                    <li><a href="mailto:hello@koodaram.com"><img src="{% static 'images/icon-mail-white.svg' %}" alt=""> hello@koodaram.com</a></li>
                                </ul>
                            </div>
                            <!-- Sidebar CTA Contact List End -->
                        </div>
                        <!-- Sidebar CTA Box End -->
                    </div>
                    <!-- Page Single Sidebar End -->
                </div>

                <div class="col-lg-8">
                    <!-- Trip Single Content Start -->
                    <div class="trip-single-content">
                        <!-- Page Single Image Start -->
                        <div class="page-single-image">
                            <figure class="image-anime reveal">
                                <img src="{% static 'images/trip-image-1.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Page Single Image End -->
                        
                        <!-- Trip Entry Start -->
                        <div class="trip-entry">
                            <p class="wow fadeInUp">Step into Munnar's misty highlands with a guided trail from Koodaram to Attukad Waterfalls. The route winds through tea and cardamom plantations, cool streams and forested slopes for an unforgettable nature experience.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Your camping stay combines raw adventure with refined comfort — spacious canvas tents with plush bedding, private decks overlooking the savannah, and evenings lit by lanterns under a canopy of stars. Each day offers a perfect balance: thrilling safaris at sunrise and sunset,</p>

                            <!-- Trip Info Box Start -->
                            <div class="trip-info-box">
                                <h2 class="text-anime-style-3">Your package at a glance</h2>
                                <p class="wow fadeInUp">To make your journey clear and hassle-free, we've outlined exactly what's included in your adventure package — and what's not. From luxury accommodations and guided experiences to eco-friendly amenities, every detail is designed for your comfort. Please review this section carefully so you know exactly what's covered </p>

                                <!-- Trip Info Body Start -->
                                <div class="trip-info-body">
                                    <!-- Trip Info Item Start -->
                                    <div class="trip-info-item wow fadeInUp" data-wow-delay="0.2s">
                                        <h3>Include</h3>
                                        <p>Your trip has been carefully designed to provide comfort, adventure, and memorable experiences.  </p>
                                        <ul>
                                            <li>Luxury camping accommodation in safari tent</li>
                                            <li>Transfers between airport and camp location</li>
                                            <li>Eco-friendly amenities and sustainable travel  </li>
                                            <li>Evening campfire experiences and stargazing</li>
                                        </ul>
                                    </div>
                                    <!-- Trip Info Item End -->

                                    <!-- Trip Info Item Start -->
                                    <div class="trip-info-item wow fadeInUp" data-wow-delay="0.4s">
                                        <h3>Exclude</h3>
                                        <p>Your trip has been carefully designed to provide comfort, adventure, and memorable experiences.  </p>
                                        <ul>
                                            <li>International & domestic airfare to destination</li>
                                            <li>Optional activities not mentioned in itinerary</li>
                                            <li>Alcoholic beverages (unless specified)</li>
                                            <li>Medical expenses or emergency evacuation  </li>
                                        </ul>
                                    </div>
                                    <!-- Trip Info Item End -->
                                </div>
                                <!-- Trip Info Body End -->
                            </div>
                            <!-- Trip Info Box End -->

                            <!-- Trip Adventure Box Start -->
                            <div class="trip-adventure-box">
                                <h2 class="text-anime-style-3">Adventure in pure luxury</h2>
                                <p class="wow fadeInUp">Munnar offers breathtaking landscapes, spice-laden air and rolling tea gardens at every turn. From the scenic Attukad streams to panoramic viewpoints like Pothamedu, each path around Koodaram brings a fresh nature moment.</p>

                                <!-- Trip Adventure Body Start -->
                                <div class="trip-adventure-body">
                                    <!-- Trip Location List Start -->
                                    <div class="trip-location-list">
                                        <!-- Trip Adventure Item Start -->
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Day 1 / 25 Mar, 25</h4>
                                                <h3>Munnar Tea & Cardamom Trails</h3>
                                                <p>Munnar offers misty valleys, tea estates and scenic mountain paths for peaceful exploration.</p>
                                            </div>
                                        </div>
                                        <!-- Trip Adventure Item End -->
                                         
                                        <!-- Trip Adventure Item Start -->
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.4s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Day 2 / 26 Mar, 25</h4>
                                                <h3>Queenstown, New Zealand</h3>
                                                <p>Munnar offers misty valleys, tea estates and scenic mountain paths for peaceful exploration.</p>
                                            </div>
                                        </div>
                                        <!-- Trip Adventure Item End -->

                                        <!-- Trip Adventure Item Start -->
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.6s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Day 3 / 27 Mar, 25</h4>
                                                <h3>Canadian Rockies, Canada</h3>
                                                <p>Munnar offers misty valleys, tea estates and scenic mountain paths for peaceful exploration.</p>
                                            </div>
                                        </div>
                                        <!-- Trip Adventure Item End -->

                                        <!-- Trip Adventure Item Start -->
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.8s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Day 4 / 28 Mar, 25</h4>
                                                <h3>Scottish Highlands, UK</h3>
                                                <p>Munnar offers misty valleys, tea estates and scenic mountain paths for peaceful exploration.</p>
                                            </div>
                                        </div>
                                        <!-- Trip Adventure Item End -->
                                    </div>
                                    <!-- Trip Location List End -->

                                    <!-- Trip Adventure Image Start -->
                                    <div class="trip-adventure-image">
                                        <figure class="image-anime reveal">
                                            <img src="{% static 'images/trip-adventure-image.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                    <!-- Trip Adventure Image End -->
                                </div>
                                <!-- Trip Adventure Body End -->
                            </div>
                            <!-- Trip Adventure Box End -->
                        </div>
                        <!-- Trip Entry End -->

                        <!-- Page Single FAQs Start -->
                        <div class="page-single-faqs">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-3" data-cursor="-opaque">Frequently asked questions</h2>
                            </div>
                            <!-- Section Title End -->

                            <!-- FAQ Accordion Start -->
                            <div class="faq-accordion" id="faqaccordion">
                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            Q1. What safety measures are in place at the campsites?
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies and safety instructions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            Q2. Are your camping sites family-friendly?
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies and safety instructions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            Q3. Are there bathrooms and showers on-site?
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies and safety instructions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            Q4. Can I bring my own food or cook at the campsite?
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies and safety instructions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End --> 
                                
                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                           Q5. What types of adventure activities are available?
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies and safety instructions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End --> 
                            </div>
                            <!-- FAQ Accordion End -->
                        </div>
                        <!-- Page Single FAQs End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Trip Single End --> {% endcomment %}
    <div class="page-trip-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-single-sidebar">
                        <div class="page-category-list trip-category-list wow fadeInUp">
                            <h3>Activity Information</h3>
                            <div class="trip-category-body">
                                <ul>
                                    <li><span><strong>{{ activity.title }}</strong></span></li>
                                    <li><span>Duration</span>{{ activity.duration|default:"Flexible" }}</li>
                                    {% comment %} <li><span>Min Age</span>10 Years+</li> {% endcomment %}
                                    {% comment %} <li><span>Type</span>Adventure, Nature</li> {% endcomment %}
                                    <li><span>Location</span>Munnar, Kerala</li>
                                </ul>
                                <a href="{% url 'contact' %}" class="btn-default">Contact Us</a>
                            </div>
                        </div>
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.25s">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-sidebar-cta.svg' %}" alt="">
                            </div>
                            <div class="sidebar-cta-content">
                                <h3>Let's plan your perfect nature escape</h3>
                            </div>
                            <div class="sidebar-cta-contact-list">
                                <ul>
                                    <li><a href="tel:+919995497856"><img src="{% static 'images/icon-phone-white.svg' %}" alt=""> +91 99954 97856</a></li>
                                    <li><a href="mailto:hello@koodaram.com"><img src="{% static 'images/icon-mail-white.svg' %}" alt=""> hello@koodaram.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-8">
                    <div class="trip-single-content">
                        <div class="page-single-image">
                            <figure class="image-anime reveal">
                                {% if activity.image %}
                                    <img src="{{ activity.image.url }}" alt="{{ activity.title }}">
                                {% else %}
                                    <img src="{% static 'images/trip-image-1.jpg' %}" alt="Default Image">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="trip-entry">
                            <div class="wow fadeInUp mb-4">
                                <h2 class="mb-3">{{ activity.title }}</h2>
                                {{ activity.description|safe }}
                            </div>
    
                            {% comment %}
                            <div class="trip-info-box">
                                <h2 class="text-anime-style-3">Your package at a glance</h2>
                                <p class="wow fadeInUp">To make your journey clear and hassle-free, we've outlined exactly what's included in your adventure package.</p>
    
                                <div class="trip-info-body">
                                    <div class="trip-info-item wow fadeInUp" data-wow-delay="0.2s">
                                        <h3>Include</h3>
                                        <p>Your trip has been carefully designed to provide comfort and adventure.</p>
                                        <ul>
                                            <li>Professional Guide</li>
                                            <li>Safety Equipment</li>
                                            <li>Refreshments</li>
                                            <li>Photo opportunities</li>
                                        </ul>
                                    </div>
                                    <div class="trip-info-item wow fadeInUp" data-wow-delay="0.4s">
                                        <h3>Exclude</h3>
                                        <p>Please note the following are not included in the standard package.</p>
                                        <ul>
                                            <li>Personal expenses</li>
                                            <li>Tips and gratuities</li>
                                            <li>Medical insurance</li>
                                            <li>Pickup/Drop (unless specified)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}

                            {% comment %}
                            <div class="trip-adventure-box">
                                <h2 class="text-anime-style-3">Activity Highlights</h2>
                                <p class="wow fadeInUp">Experience the best of nature with our curated itinerary.</p>
    
                                <div class="trip-adventure-body">
                                    <div class="trip-location-list">
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Step 1</h4>
                                                <h3>Arrival & Briefing</h3>
                                                <p>Meet at the base camp for a safety briefing and gear check.</p>
                                            </div>
                                        </div>
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.4s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Step 2</h4>
                                                <h3>The Adventure Begins</h3>
                                                <p>Embark on the trail through tea plantations and scenic valleys.</p>
                                            </div>
                                        </div>
                                        <div class="trip-adventure-item wow fadeInUp" data-wow-delay="0.6s">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-location-primary.svg' %}" alt="">
                                            </div>
                                            <div class="trip-adventure-item-content">
                                                <h4>Step 3</h4>
                                                <h3>Relaxation</h3>
                                                <p>Enjoy refreshments and take in the panoramic views.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trip-adventure-image">
                                        <figure class="image-anime reveal">
                                            <img src="{% static 'images/trip-adventure-image.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}

                        </div> 
                        <div class="page-single-faqs">
                            <div class="section-title">
                                <h2 class="text-anime-style-3" data-cursor="-opaque">Frequently asked questions</h2>
                            </div>
                            <div class="faq-accordion" id="faqaccordion">
                                <div class="accordion-item wow fadeInUp">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            Q1. What safety measures are in place?
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Your safety is our top priority. All activities are supervised by trained professionals, and we use high-quality, regularly inspected equipment.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            Q2. Is this suitable for beginners?
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Yes! Most of our activities are designed to be beginner-friendly. Our guides will provide all necessary instructions before you begin.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            Q3. What should I wear?
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>We recommend comfortable outdoor clothing and sturdy shoes. Avoid loose jewelry or clothing that could get snagged.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            Q4. Do I need to bring my own food?
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Light refreshments are usually provided. For longer activities, we recommend bringing water and light snacks.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                           Q5. What is the cancellation policy?
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqaccordion">
                                        <div class="accordion-body">
                                            <p>Please contact our support team for details regarding cancellations and rescheduling, as policies may vary by activity type.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker bg-section">
        <!-- Scrolling Ticker Start -->
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>

            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>
        </div>
        <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End --> {% endcomment %}

{% endblock %}
