{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Pricing | Koodaram{% endblock %}
{% block meta_description %}Koodaram Pricing page.{% endblock %}

{% block content %}

    <!-- Page Header Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Our pricing plan</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">pricing plan</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Section End -->

    <!-- Page Pricing Start -->
    <div class="page-pricing">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- PricingItemStart -->
                    <div class="pricing-item wow fadeInUp">
                        <!-- Pricing Header Start -->
                        <div class="pricing-header">
                            <h3>Basic Retreat</h3>
                            <p>Solo travelers or couples seeking a peaceful, nature-rich retreat</p>
                            <h2>$199.00<sub>/2Nights</sub></h2>
                        </div>
                        <!-- Pricing Header End -->
                
                        <!-- Pricing body Start -->
                        <div class="pricing-body">
                            <h3>What's Included:</h3>
                            <ul>
                                <li>Scenic hiking trails nearby</li>
                                <li>Access to shared campfire lounge</li>
                                <li>Cozy camping tent a essential amenities</li>
                            </ul>
                        </div>
                        <!-- Pricing body End -->

                        <!-- Pricing Button Start -->
                        <div class="pricing-btn">
                            <a href="contact.html" class="btn-default">get started now</a>
                        </div>
                        <!-- Pricing Button End -->
                    </div>
                    <!-- Pricing Item End -->
                </div>
                
                <div class="col-xl-4 col-md-6">
                    <!-- Pricing Item Start -->
                    <div class="pricing-item highlighted-box wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Pricing Header Start -->
                        <div class="pricing-header">
                            <h3>Adventure Escape</h3>
                            <p>Solo travelers or couples seeking a peaceful, nature-rich retreat</p>
                            <h2>$299.00<sub>/4Nights</sub></h2>
                        </div>
                        <!-- Pricing Header End -->
                
                        <!-- Pricing body Start -->
                        <div class="pricing-body">
                            <h3>What's Included:</h3>
                            <ul>
                                <li>Private outdoor seating area</li>
                                <li>Complimentary welcome drinks</li>
                                <li>Spacious tent with queen bed & electricity</li>
                            </ul>
                        </div>
                        <!-- Pricing body End -->

                        <!-- Pricing Button Start -->
                        <div class="pricing-btn">
                            <a href="contact.html" class="btn-default btn-highlighted">get started Free</a>
                        </div>
                        <!-- Pricing Button End -->
                    </div>
                    <!-- Pricing Item End -->
                </div>
                
                <div class="col-xl-4 col-md-6">
                    <!-- Pricing Item Start -->
                    <div class="pricing-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Pricing Header Start -->
                        <div class="pricing-header">
                            <h3>Premium Wilderness</h3>
                            <p>Solo travelers or couples seeking a peaceful, nature-rich retreat</p>
                            <h2>$499.00<sub>/6Nights</sub></h2>
                        </div>
                        <!-- Pricing Header End -->
                
                        <!-- Pricing body Start -->
                        <div class="pricing-body">
                            <h3>What's Included:</h3>
                            <ul>
                                <li>All-inclusive meals & beverages</li>
                                <li>Private deck with panoramic views</li>
                                <li>Luxury safari tent with en-suite bathroom</li>
                            </ul>
                        </div>
                        <!-- Pricing body End -->

                        <!-- Pricing Button Start -->
                        <div class="pricing-btn">
                            <a href="contact.html" class="btn-default">get started Free</a>
                        </div>
                        <!-- Pricing Button End -->
                    </div>
                    <!-- Pricing Item End -->
                </div>

                <div class="col-lg-12">
                    <!-- Pricing Benifit List Start -->
                    <div class="pricing-benefit-list wow fadeInUp" data-wow-delay="0.6s">
                        <ul>
                            <li><img src="{% static 'images/icon-pricing-benefit-1.svg' %}" alt="">Get 30 day free trial</li>
                            <li><img src="{% static 'images/icon-pricing-benefit-2.svg' %}" alt="">No any hidden fee pay</li>
                            <li><img src="{% static 'images/icon-pricing-benefit-3.svg' %}" alt="">You can cancel anytime </li>
                        </ul>
                    </div>
                    <!-- Pricing Benifit List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Pricing End -->

    <!-- What We Do Section Start -->
    <div class="what-we-do">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <!-- What We Image Box Start -->
                    <div class="what-we-image-box">
                        <!-- What We Image Item 1 Start -->
                        <div class="what-we-image-item-1">
                            <!-- What We Image 1 Start -->
                            <div class="what-we-image-1">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/what-we-do-image-1.jpg' %}" alt="">
                                </figure>
                            </div>
                            <!-- What We Image 1 End -->
                        </div>
                        <!-- What We Image Item 1 End -->
                        
                        <!-- What We Image Item 2 Start -->
                        <div class="what-we-image-item-2">
                            <!-- What We Client Box Start -->
                            <div class="what-we-contact-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/icon-phone-primary.svg' %}" alt="">
                                </div>
                                <div class="what-we-contact-content">
                                    <p>Call Any Time</p>
                                    <h3><a href="tel:123456789">+123-456-789</a></h3>
                                </div>
                            </div>
                            <!-- What We Client Box End -->

                            <!-- What We Image 2 Start -->
                            <div class="what-we-image-2">
                                <figure class="image-anime">
                                    <img src="{% static 'images/what-we-do-image-2.jpg' %}" alt="">
                                </figure>
                            </div>
                            <!-- What We Image 2 End -->
                        </div>
                        <!-- What We Image Item 2 End -->
                    </div>
                    <!-- What We Image Box End -->
                </div>

                <div class="col-xl-6">
                    <!-- What We Content Start -->
                    <div class="what-we-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">What we Do</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Where luxury and adventure meet in nature's embrace</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">We design extraordinary escapes where comfort meets the call of the wild. From luxury camping stays and adrenaline-packed treks to cultural experiences and wellness retreats,</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- What We Item List Start -->
                        <div class="what-we-item-list">
                            <!-- What We Item Start -->
                            <div class="what-we-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="what-we-item-header">
                                    <div class="icon-box">
                                        <img src="{% static 'images/icon-what-we-do-1.svg' %}" alt="">
                                    </div>
                                    <div class="what-we-item-title">
                                        <h3>Luxury Stays in Nature</h3>
                                    </div>
                                </div>
                                <div class="what-we-item-content">
                                    <p>We create camping experiences that let you stay close to the wild without giving up comfort. Think cozy beds, elegant interiors, and all the amenities you need — right in the heart of nature.</p>
                                </div>
                            </div>
                            <!-- What We Item End -->

                            <!-- What We Item Start -->
                            <div class="what-we-item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="what-we-item-header">
                                    <div class="icon-box">
                                        <img src="{% static 'images/icon-what-we-do-2.svg' %}" alt="">
                                    </div>
                                    <div class="what-we-item-title">
                                        <h3>Guided Nature Experiences</h3>
                                    </div>
                                </div>
                                <div class="what-we-item-content">
                                    <p>From scenic treks and zip-lining to river rafting and wildlife tours, we design activities for all skill levels. Every adventure is led by certified experts to ensure both safety and excitement.</p>
                                </div>
                            </div>
                            <!-- What We Item End -->
                        </div>
                        <!-- What We Item List End -->

                        <!-- What We Button Start -->
                        <div class="what-we-btn wow fadeInUp" data-wow-delay="0.8s">
                            <a href="contact.html" class="btn-default">Learn More</a>
                        </div>
                        <!-- What We Button End -->
                    </div>
                    <!-- What We Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- What We Do Section End -->

    <!-- Our Gallery Section Start -->
    <div class="our-gallery">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">Our Gallery</h3>
                        <h2 class="text-effect" data-cursor="-opaque">From sunrise hikes to cozy nights under the stars - see the magic</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Our Gallery Nav start -->
                    <div class="our-gallery-nav wow fadeInUp" data-wow-delay="0.2s">
                        <ul>
                            <li><a href="#" class="active-btn" data-filter="*">all</a></li>
                            <li><a href="#" data-filter=".gallery1">Luxury Tents</a></li>
                            <li><a href="#" data-filter=".gallery2">Cabins & Lodges</a></li>
                            <li><a href="#" data-filter=".gallery3">Nature & Views</a></li>
                            <li><a href="#" data-filter=".gallery4">Camp Activities</a></li>
                        </ul>
                    </div>
                    <!-- Our Gallery Nav End -->
                </div>                
            </div>

            <div class="row gallery-item-boxes">
                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery1 gallery4 gallery3">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-1.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery2 gallery1 gallery3">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-2.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery4 gallery1 gallery2">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-3.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery2 gallery4 gallery3">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-4.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <div class="col-xl-4 col-md-6 gallery-item-box gallery1 gallery3 gallery2">
                    <!-- Gallery Item Box Start -->
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-5.jpg' %}" alt="">
                        </figure>
                    </div>
                    <!-- Gallery Item Box End -->
                </div>

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery2 gallery4">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-6.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery1 gallery4 gallery3">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-4.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery3 gallery2">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-5.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->

                <!-- Gallery Item Box Start -->
                <div class="col-xl-4 col-md-6 gallery-item-box gallery1 gallery4">
                    <div class="gallery-item">
                        <figure class="image-anime">
                            <img src="{% static 'images/gallery-6.jpg' %}" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Gallery Item Box End -->
            </div>
        </div>
    </div>
    <!-- Our Gallery Section End -->

    <!-- Our Partners Section Start -->
    <div class="our-partners dark-section parallaxie">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">Our Partners</h3>
                        <h2 class="text-effect" data-cursor="-opaque">Working with the best in outdoor living and exploration</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Partners Logo List Start -->
                    <div class="partners-logo-list">
                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-1.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-2.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-3.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-4.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-5.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-6.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-7.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-8.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->

                        <!-- Partner Logo Start -->
                        <div class="partner-logo">
                            <img src="{% static 'images/partner-logo-9.svg' %}" alt="">
                        </div>
                        <!-- Partner Logo End -->
                    </div>
                    <!-- Partners Logo List End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.2s">
                        <p><span>Free</span> Let's make something great work together. <a href="contact.html">Get Free Quote</a></p>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Partners Section End -->

    <!-- Our FAQs Section Start -->
    <div class="our-faqs bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- FAQs Content Start -->
                    <div class="faqs-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Frequently Asked Questions</h3>
                            <h2 class="text-effect" data-cursor="-opaque">Your questions answers about stays and more</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Find quick answers about bookings, accommodations, amenities, and adventure options - all in one place.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- FAQs CTA Box Start -->
                        <div class="faqs-cta-box wow fadeInUp" data-wow-delay="0.4s">
                            <!-- FAQs CTA Image Start -->
                            <div class="faqs-cta-image">
                                <figure>
                                    <img src="{% static 'images/faqs-cta-image.jpg' %}" alt="">
                                </figure>
                            </div>
                            <!-- FAQs CTA Image End -->

                            <!-- FAQs CTA Contact Item Start -->
                            <div class="faqs-cta-contact-item">
                                <div class="icon-box">
                                    <img src="{% static 'images/icon-headphone-primary.svg' %}" alt="">
                                </div>
                                <div class="faqs-cta-contact-content">
                                    <h3>Need Any Help?</h3>
                                    <p>Contact: <a href="mailto:123456789">+91 94970 00000</a></p>
                                </div>
                            </div>
                            <!-- FAQs CTA Contact Item End -->
                        </div>
                        <!-- FAQs CTA Box End -->
                    </div>
                    <!-- FAQs Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="accordion">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Q1. What safety measures are in place at the campsites?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies, and safety instructions</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Q2. Are your camping sites family-friendly?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies, and safety instructions</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Q3. Are there bathrooms and showers on-site?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies, and safety instructions</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Q4. Can I bring my own food or cook at the campsite?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies, and safety instructions</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Q5. What types of adventure activities are available?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>Your safety is our top priority. All of our camping sites are located in secure, low-risk natural areas and are regularly inspected for hazards. Each unit includes emergency contact details, basic first-aid supplies, and safety instructions</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our FAQs Section End -->

    <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker bg-section">
        <!-- Scrolling Ticker Start -->
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>

            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>
        </div>
        <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End -->

{% endblock %}
