{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Team Details | Koodaram{% endblock %}
{% block meta_description %}Koodaram Team Details page.{% endblock %}

{% block content %}

    <!-- Page Header Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Cameron Williamson</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./">home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'team' %}">team</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cameron Williamson</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Section End -->

    <!-- Page Team Single Start -->
    <div class="page-team-single">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Page Team Single Box Start -->
                    <div class="page-team-single-box">
                        <!-- Team Member About Start -->
                        <div class="team-member-about">
                            <!-- Team Single Image Start -->
                            <div class="team-single-image">
                                <figure class="image-anime reveal">
                                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                                </figure>
                            </div>
                            <!-- Team Single Image End -->
        
                            <!-- Team About Content Start -->
                            <div class="team-about-content">
                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">About Me</h2>
                                    <p class="wow fadeInUp">Experience Director</p>
                                    <p class="wow fadeInUp" data-wow-delay="0.2s">With over a decade in luxury hospitality and outdoor adventure planning Olivia ensures every camping stay feels effortless and unforgettable. From personalized itineraries to curated activities she blends comfort with exploration helping guests discover nature without sacrifice luxury. Her passion for sustainable travel drives her to create meaningful connections between guests, local communities, and the environment.</p>
                                </div>
                                <!-- Section Title End -->
        
                                <!-- Team Contact Info Box Start -->
                                <div class="team-contact-info-box">
                                    <!-- Team Contact List Start -->
                                    <div class="team-contact-list wow fadeInUp" data-wow-delay="0.4s">
                                        <!-- Team Member Box Start -->
                                        <div class="team-contact-item">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-experience.svg' %}" alt="">
                                            </div>
                                            <div class="team-contact-content">
                                                <h3>Experience:</h3>
                                                <p>5+ Year</p>
                                            </div>
                                        </div>
                                        <!-- Team Member Box End -->
        
                                        <!-- Team Member Box Start -->
                                        <div class="team-contact-item">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-position.svg' %}" alt="">
                                            </div>
                                            <div class="team-contact-content">
                                                <h3>Position:</h3>
                                                <p>Guest Manager</p>
                                            </div>
                                        </div>
                                        <!-- Team Member Box End -->
        
                                        <!-- Team Member Box Start -->
                                        <div class="team-contact-item">
                                            <div class="icon-box">
                                                <img src="{% static 'images/icon-phone-primary.svg' %}" alt="">
                                            </div>
                                            <div class="team-contact-content">
                                                <h3>Phone</h3>
                                                <p>+(761)-523-398</p>
                                            </div>
                                        </div>
                                        <!-- Team Member Box End -->
                                    </div>
                                    <!-- Team Contact List End -->
        
                                    <!-- Member Social List Start -->
                                    <div class="member-social-list wow fadeInUp" data-wow-delay="0.6s">
                                        <h3>Social Media:</h3>
                                        <ul>
                                            <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                            <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- Member Social List End -->
                                </div>
                                <!-- Team Contact Info Box End -->                       
                            </div>
                            <!-- Team About Content End -->
                        </div>
                        <!-- Team Member About End -->

                        <!-- Team Personal Info Start -->
                        <div class="team-personal-info">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-3" data-cursor="-opaque">Personal information</h2>
                                <p class="wow fadeInUp">A nature enthusiast and seasoned traveler, Cameron Williamson combines her love for the outdoors with years of expertise in hospitality management. She holds a degree in Tourism & Event Planning and has worked with luxury resorts across Asia and Europe. When she’s not crafting unforgettable guest experiences, Olivia can be found hiking remote trails, experimenting with eco-friendly cooking, or practicing sunrise yoga by the lake.</p>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">Growing up near the mountains, Olivia Hart learned early to treasure the outdoors. Her journey in hospitality allowed her to blend this love for nature with world-class service. Whether it’s welcoming first-time campers or seasoned adventurers, Olivia takes pride in making every camping experience feel personal, comfortable, and connected to the land."</p>
                            </div>
                            <!-- Section Title End -->
                        </div>
                        <!-- Team Personal Info End -->

                        <!-- Team Skill Form Section Start -->
                        <div class="team-skills-form">
                            <!-- Team Skills Content Start -->
                            <div class="team-skills-box">
                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">Professional skills</h2>
                                    <p class="wow fadeInUp">Olivia Hart possesses a unique blend of hospitality management sustainable tourism practices, and customer experience design. Her expertise includes coordinating luxury camping accommodations </p>
                                </div>
                                <!-- Section Title End -->
                    
                                <!-- Team Skills List Start -->
                                <div class="team-skills-list">
                                    <!-- Skills Progress Bar Start -->
                                    <div class="skills-progress-bar">
                                        <!-- Skill Item Start -->
                                        <div class="skillbar" data-percent="80%">
                                            <div class="skill-data">
                                                <div class="skill-title">Off-Road Driving</div>
                                                <div class="skill-no">80%</div>
                                            </div>
                                            <div class="skill-progress">
                                                <div class="count-bar"></div>
                                            </div>
                                        </div>
                                        <!-- Skill Item End -->
                                    </div>
                                    <!-- Skills Progress Bar End -->
                    
                                    <!-- Skills Progress Bar Start -->
                                    <div class="skills-progress-bar">
                                        <!-- Skill Item Start -->
                                        <div class="skillbar" data-percent="90%">
                                            <div class="skill-data">
                                                <div class="skill-title">Adventure Logistics</div>
                                                <div class="skill-no">90%</div>
                                            </div>
                                            <div class="skill-progress">
                                                <div class="count-bar"></div>
                                            </div>
                                        </div>
                                        <!-- Skill Item End -->
                                    </div>
                                    <!-- Skills Progress Bar End -->
                    
                                    <!-- Skills Progress Bar Start -->
                                    <div class="skills-progress-bar">
                                        <!-- Skill Item Start -->
                                        <div class="skillbar" data-percent="85%">
                                            <div class="skill-data">
                                                <div class="skill-title">Survival Training</div>
                                                <div class="skill-no">85%</div>
                                            </div>
                                            <div class="skill-progress">
                                                <div class="count-bar"></div>
                                            </div>
                                        </div>
                                        <!-- Skill Item End -->
                                    </div>
                                    <!-- Skills Progress Bar End -->
                                </div>
                                <!-- Team Skills List End -->
                            </div>
                            <!-- Team Skills Content End -->

                            <!-- Contact Us Form Start -->
                            <div class="contact-us-form team-contact-form">
                                <!-- Section Title Start -->
                                <div class="section-title">
                                    <h2 class="text-anime-style-3" data-cursor="-opaque">Get in touch</h2>
                                </div>
                                <!-- Section Title End -->
                    
                                <!-- Contact Form Start -->
                                <div class="contact-form">
                                    <form id="contactForm" action="#" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="row">
                                            <div class="form-group col-md-6 mb-4">
                                                <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                    
                                            <div class="form-group col-md-6 mb-4">
                                                <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                    
                                            <div class="form-group col-md-6 mb-4">
                                                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                    
                                            <div class="form-group col-md-6 mb-4">
                                                <input type="email" name ="email" class="form-control" id="email" placeholder="Email Address" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            
                                            <div class="form-group col-md-12 mb-5">
                                                <textarea name="message" class="form-control" id="message" rows="4" placeholder="Send Message..."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                    
                                            <div class="col-md-12">
                                                <button type="submit" class="btn-default"><span>send message</span></button>
                                                <div id="msgSubmit" class="h3 hidden"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Contact Form End -->
                            </div>
                            <!-- Contact Us Form End -->
                        </div>
                        <!-- Team Skill Form Section End -->    
                    </div>
                    <!-- Page Team Single Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Team Single End -->
   
    <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker bg-section">
        <!-- Scrolling Ticker Start -->
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>

            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>
        </div>
        <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End -->

{% endblock %}
