{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Team | Koodaram{% endblock %}
{% block meta_description %}Koodaram Team page.{% endblock %}

{% block content %}

    <!-- Page Header Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Our team</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">team</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Section End -->

    <!-- Page Team Start -->
    <div class="page-team">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Olivia Hart</a></h3>
                                <p>Experience Director</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div>
                        <!-- Team Item Body End -->                     
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Cameron Williamson</a></h3>
                                <p>Nature Retreats</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div> 
                        <!-- Team Item Body End -->                       
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-3.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Esther Howard</a></h3>
                                <p>Sustainability Manager</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div>
                        <!-- Team Item Body End -->                    
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-4.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Robert Fox</a></h3>
                                <p>Experience Curator</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div>
                        <!-- Team Item Body End -->                       
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-5.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Kristin Watson</a></h3>
                                <p>Culinary Director</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div>
                        <!-- Team Item Body End -->                     
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="1s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-6.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Darlene Robertson</a></h3>
                                <p>Logistics Coordinator</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div> 
                        <!-- Team Item Body End -->                       
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-7.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Darrell Steward</a></h3>
                                <p>Celebration Planner</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div>
                        <!-- Team Item Body End -->                    
                    </div>
                    <!-- Team Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- Team Item Start -->
                    <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
                        <!-- team Image Start -->
                        <div class="team-image">
                            <a href="{% url 'team_single' %}" data-cursor-text="View">
                                <figure>
                                    <img src="{% static 'images/team-8.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- team Image End -->

                        <!-- Team Item Body Start -->
                        <div class="team-item-body">
                            <!-- Team Content Start -->
                            <div class="team-content">
                                <h3><a href="{% url 'team_single' %}">Marvin McKinney</a></h3>
                                <p>Tourism Manager</p>
                            </div>
                            <!-- Team Content End -->
                            
                            <!-- Team Social List Start -->
                            <div class="team-social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/KoodaramMunnar/"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.instagram.com/koodaram_munnar/"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- Team Social List End -->
                        </div>
                        <!-- Team Item Body End -->                       
                    </div>
                    <!-- Team Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Team End -->

    <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker bg-section">
        <!-- Scrolling Ticker Start -->
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>

            <div class="scrolling-content">
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Forest Stay</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Off-Grid Escape</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Nature Retreat</span>
                <span><img src="{% static 'images/icon-sparkle.svg' %}" alt="">Stargazing Nights</span>
            </div>
        </div>
        <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End -->

{% endblock %}
